<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
   http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <!--     spring-bean配置     -->

    <!--使用Spring要用注解的方式进行配置-->
    <!--<context:annotation-config/>-->
    <!-- 开启包扫描，并注册注解 -->
    <context:component-scan base-package="com.xiaochen.beatles"/>
    <!--<bean name="category" class="com.xiaochen.beatles.entity.Category"/>-->

    <!--<bean name="product" class="com.xiaochen.beatles.entity.Product">
        &lt;!&ndash; 配置文件注入&ndash;&gt;
        &lt;!&ndash;<property name="category" ref="category"/>&ndash;&gt;
    </bean>-->


</beans>